.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      a.brand(href='/') ROM Manager Backups
      ul.nav
        li
          a(href='https://play.google.com/store/apps/details?id=com.koushikdutta.rommanager') Rate Me!
