script(src='/javascripts/index.js');

.container
  .row
    .span8.offset2
      h3
        span Downloading backups requires 
        span
          a(href='https://play.google.com/store/apps/details?id=com.koushikdutta.rommanager.license') ROM Manager Premium!

  .row
    .span5.offset2
      h3
        #backup-count 0 backups found.

br
br
br
#backups.container
